body {
    font-family: Arial, sans-serif;
    background-color:whitesmoke;
    color: white;
    text-align: center;
    margin:  auto;
    max-width: 80%;
}
header{
color: black;
background-color: greenyellow;
text-align: center;
}

h1 {
    font-size: 32px;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

nav {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 15px;
    background-color:whitesmoke;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

section {
    background-color:whitesmoke;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: black;
}

section h2 {
    background-color:whitesmoke;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color:black
}

section p {
    font-size: 14px;
    padding: 10px;
    text-align: justify;
}

section img {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}
img{

    width: 100%;
    border-radius: 5px;

}
p{
    color: black;
}
